.img-container {
  position: relative;
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100vh;
}
img {
  width: 100%;
}
h2 {
  position: absolute;
  line-height: 1.6;
  font-size: 27px;
  color: white;
  width: 90%;    
  text-align: center;
  padding: 5px;
  bottom: 0;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
h1 {
  position: absolute;
  font-family: fantasy;
  font-size: 220px;
  color: red;
  text-align: center;
  /* top: 50%;
  transform: translateY(-71%); */
  animation: bang 2s ease-in-out;
  text-shadow: -4px 0 black, 0 6px black, 4px 0 black, 0 6px black;
}
.img-container:active {
  transform: scale(0.8)
}

@keyframes bang {
  0% {transform: rotate(0deg) scale(0.01);}
  100% {transform: rotate(359deg) scale(1);}
}